#mapid {
    width: 512px;
    height: 512px;
    border: 1px solid #ccc;
}

.leaflet-container {
    background: #fff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}
p {
    font-size: 12px;
}
